<div class='app-component-wrapper'>
  <div class='title-wrapper'>
    <img class='titlebar-background-img' src="assets/philadelphia_moon.jpg" />
    <div class='title'>{{title}}</div>
    <div class='greeting'>
      <p> 
        Welcome to my epic domain! 
      </p>
      <p>  
        I’m John &lt;insert perfect-strength handshake and a smile here>, a Computer Science student at the University of Waterloo in my 2B term. 
      </p>
      <p>
        I’ve been a web developer for my past 2 coop terms, but now I’m looking for something to do in Game development, Cybersecurity, database development and backend development. 
      </p>
      <p>
        I’m fluent in C, C++, Python, Java, Typescript and Javascript. I also have lots of experience working with Angular and styling things with SCSS/CSS.
      </p>
      <p>
        Take a look at some of my projects below!
      </p>
    </div>
  </div>
</div>